In [1]:
l=['1','2','3','4']
"".join(l)

'1234'

In [2]:
l=[1,2,3,4]
"".join(l)

TypeError: sequence item 0: expected string, int found

In [3]:
l_str=[]
for i in l:
    l_str.append(str(i))
print l_str

['1', '2', '3', '4']

In [4]:
#list comprehensions
[str(i) for i in l]

['1', '2', '3', '4']

In [5]:
range(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
range(0,10,2)

[0, 2, 4, 6, 8]

In [8]:
range(-3,10)

[-3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
range(-3,-9)

[]

In [10]:
range(-3,-9,-1)

[-3, -4, -5, -6, -7, -8]

In [11]:
range(0,1,0.1)

TypeError: range() integer step argument expected, got float.

In [12]:
range('a','z')

TypeError: range() integer end argument expected, got str.

In [13]:
xrange(0,10)

xrange(10)

In [14]:
for i in xrange(10):
    print i

0
1
2
3
4
5
6
7
8
9

In [15]:
l=xrange(10)

In [16]:
type(l)

xrange

In [17]:
def fun(a,b):
    print "a={0}, b={1}".format(a,b)
    return a+b
c=fun(10,20)

a=10, b=20

In [18]:
c=fun(10,20,30)

TypeError: fun() takes exactly 2 arguments (3 given)

In [19]:
# default arguments
def fun(a,b,c=0,d=0,e=0):
    print "a={0}, b={1}, c={2}, d={3}, e={4}".format(a,b,c,d,e)
    return a+b+c+d+e
c=fun(10,20)
print c

a=10, b=20, c=0, d=0, e=0
30

In [20]:
c=fun(10,20,30)
print c

a=10, b=20, c=30, d=0, e=0
60

In [22]:
c=fun(10,20,30,40,50)
print c

a=10, b=20, c=30, d=40, e=50
150

In [23]:
c=fun(10,20,30,40,50,60)
print c

TypeError: fun() takes at most 5 arguments (6 given)

In [24]:
#*args

In [25]:
#Tuple

In [26]:
t=(1,2,3,"3445",2.3,2+3j)

In [27]:
t[-1]

(2+3j)

In [28]:
t[1:5:2]

(2, '3445')

In [29]:
l=[1,2,3,4]
t=(1,2,3,4)

In [30]:
l[0]=10

In [31]:
l

[10, 2, 3, 4]

In [32]:
t[0]=10

TypeError: 'tuple' object does not support item assignment

In [34]:
def fun(*a):
    print a
    print type(a)
fun()
fun(10)
fun(10,20,3)

()
<type 'tuple'>
(10,)
<type 'tuple'>
(10, 20, 3)
<type 'tuple'>

In [35]:
# default arguments
def fun(a=0,b=0,c=0,):
    print "a={0}, b={1}, c={2}, ".format(a,b,c)
    return a+b+c
c1=fun(10,20)
print c1

a=10, b=20, c=0,
30

In [36]:
# default arguments
def fun(a=0,b=0,c=0,):
    print "a={0}, b={1}, c={2}, ".format(a,b,c)
    return a+b+c
c1=fun(100,0,200)
print c1

a=100, b=0, c=200,
300

In [37]:
# default arguments
def fun(a=0,b=0,c=0,):
    print "a={0}, b={1}, c={2}, ".format(a,b,c)
    return a+b+c
c1=fun(100,200)
print c1

a=100, b=200, c=0,
300

In [38]:
#key word arguments
# default arguments
def fun(a=0,b=0,c=0,):
    print "a={0}, b={1}, c={2}, ".format(a,b,c)
    return a+b+c
c1=fun(a=100,c=200)
print c1

a=100, b=0, c=200,
300

In [39]:
def connect(host="localhost",port=5432,db="db1",user="root",password=""):
    pass

In [41]:
def fun(*a):
    print a
fun(10,20,30,40)

(10, 20, 30, 40)

In [42]:
fun(a=(10,20,30,4))

TypeError: fun() got an unexpected keyword argument 'a'

In [43]:
def fun(*a):
    print a
    return sum(a)
print fun(10,20,30,40)

(10, 20, 30, 40)
100

In [44]:
# default arguments
def fun(a,b,c=0,d=0,e=0):
    print "a={0}, b={1}, c={2}, d={3}, e={4}".format(a,b,c,d,e)
    return a+b+c+d+e
c=fun(10,20)
print c

a=10, b=20, c=0, d=0, e=0
30

In [45]:
fun(a=100,b=200,f=300)

TypeError: fun() got an unexpected keyword argument 'f'

In [47]:
# default arguments
def fun(a=0,b=0,c=0,d=0,e=0,**k):
    print "a={0}, b={1}, c={2}, d={3}, e={4}, k={5}".format(a,b,c,d,e,k)
    return a+b+c+d+e
c=fun(a=100,f=300)
print c

a=100, b=0, c=0, d=0, e=0, k={'f': 300}
100

In [48]:
# default arguments
def fun(a=0,b=0,c=0,d=0,e=0,**k):
    print "a={0}, b={1}, c={2}, d={3}, e={4}, k={5}".format(a,b,c,d,e,k)
    return a+b+c+d+e
c=fun(a=100,f=300,g=500,h=600)
print c

a=100, b=0, c=0, d=0, e=0, k={'h': 600, 'g': 500, 'f': 300}
100

In [50]:
employee_names = ['n1','n2','n3']
employee_ids = [1,2,3]
employee_sal = [1000,2000,3000]
employee = [{'name':'n1','id':1,'sal':1000},{'name':'n2','id':2,'sal':2000}]

In [51]:
for emp in employee:
    print emp

{'sal': 1000, 'name': 'n1', 'id': 1}
{'sal': 2000, 'name': 'n2', 'id': 2}

In [52]:
d1 = {'name':'n1','id':1,'sal':1000}

In [53]:
d1['name']

'n1'

In [54]:
d1[0]

KeyError: 0

In [55]:
d1['name']="modified_name"

In [56]:
d1

{'id': 1, 'name': 'modified_name', 'sal': 1000}

In [57]:
for i in d1:
    print i

sal
name
id

In [58]:
for i in d1:
    print i,d1[i]

sal 1000
name modified_name
id 1

In [59]:
d={1:2,3:4}
d1={5:6,7:8}

In [60]:
d+d1

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [61]:
d-d1

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [62]:
d1*d1

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [63]:
d1*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [64]:
d={'id': 1, 'name': 'modified_name', 'sal': 1000}

In [65]:
d

{'id': 1, 'name': 'modified_name', 'sal': 1000}

In [66]:
d['cell']=9676622023

In [67]:
d

{'cell': 9676622023L, 'id': 1, 'name': 'modified_name', 'sal': 1000}

In [68]:
d2 = {'height':5.6,'weight':72}

In [69]:
keys = ['k1','k2','k3']

In [70]:
d3 = d.fromkeys(keys,'dummy_value')

In [71]:
d3

{'k1': 'dummy_value', 'k2': 'dummy_value', 'k3': 'dummy_value'}

In [72]:
d

{'cell': 9676622023L, 'id': 1, 'name': 'modified_name', 'sal': 1000}

In [73]:
d2

{'height': 5.6, 'weight': 72}

In [74]:
d.update(d2)

In [75]:
d

{'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000,
 'weight': 72}

In [76]:
d

{'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000,
 'weight': 72}

In [77]:
d.keys()

['cell', 'name', 'weight', 'sal', 'id', 'height']

In [78]:
d.values()

[9676622023L, 'modified_name', 72, 1000, 1, 5.6]

In [79]:
for i in d:
    print i

cell
name
weight
sal
id
height

In [80]:
for i in d:
    print i,d[i]

cell 9676622023
name modified_name
weight 72
sal 1000
id 1
height 5.6

In [81]:
d.items()

[('cell', 9676622023L),
 ('name', 'modified_name'),
 ('weight', 72),
 ('sal', 1000),
 ('id', 1),
 ('height', 5.6)]

In [82]:
for i in d.items():
    print i

('cell', 9676622023L)
('name', 'modified_name')
('weight', 72)
('sal', 1000)
('id', 1)
('height', 5.6)

In [83]:
d.iteritems()

In [84]:
[i+10 for i in range(0,20,2)]

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [85]:
j = (i+10 for i in range(0,20,2))

In [86]:
j

In [87]:
j.next()

10

In [88]:
j.next()

12

In [89]:
for i in j:
    print i

14
16
18
20
22
24
26
28

In [90]:
j = (i+10 for i in range(0,20,2))
for i in j:
    print i

10
12
14
16
18
20
22
24
26
28

In [91]:
for i in j:
    print i

In [92]:
j = (i+10 for i in range(0,6,2))

In [93]:
j.next()

10

In [94]:
j.next()

12

In [95]:
j.next()

14

In [96]:
j.next()

StopIteration:

In [97]:
d

{'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000,
 'weight': 72}

In [98]:
d.keys()

['cell', 'name', 'weight', 'sal', 'id', 'height']

In [99]:
ik = d.iterkeys()

In [100]:
ik

In [101]:
for i in ik:
    print i

cell
name
weight
sal
id
height

In [103]:
for i in ik:
    print i

In [104]:
for i in d.keys():
    print i

cell
name
weight
sal
id
height

In [105]:
for i in d.iterkeys():
    print i

cell
name
weight
sal
id
height

In [106]:
def fun():
    return [1,2,3,4,5]

In [107]:
l=fun()

In [108]:
for i in l:
    print i

1
2
3
4
5

In [109]:
for i in l:
    print i

1
2
3
4
5

In [110]:
def fun():
    yield [1,2,3,4,5]
l=fun()

In [111]:
for i in l:
    print i

[1, 2, 3, 4, 5]

In [112]:
for i in l:
    print i

In [113]:
d={1:10,1:100}

In [114]:
d

{1: 100}

In [115]:
a=100
a=1000

In [116]:
a

1000

In [117]:
d={'str1':"python",1:10}

In [118]:
d[1.2]="float"

In [119]:
d[1+2j]="complex"

In [120]:
d[(1,2,3,4)]="tuple"

In [121]:
d

{1: 10,
 'str1': 'python',
 1.2: 'float',
 (1, 2, 3, 4): 'tuple',
 (1+2j): 'complex'}

In [122]:
d[[1,2,3,4]]="list"

TypeError: unhashable type: 'list'

In [123]:
l1=[1,2,3,4]
d[l1]="list"
l1.append(10)

TypeError: unhashable type: 'list'

In [124]:
d

{1: 10,
 'str1': 'python',
 1.2: 'float',
 (1, 2, 3, 4): 'tuple',
 (1+2j): 'complex'}

In [125]:
k = d.keys()
vk = d.viewkeys()

In [126]:
k

[1, 'str1', 1.2, (1, 2, 3, 4), (1+2j)]

In [127]:
vk

dict_keys([1, 'str1', 1.2, (1, 2, 3, 4), (1+2j)])

In [128]:
for i in vk:
    print i

1
str1
1.2
(1, 2, 3, 4)
(1+2j)

In [129]:
for i in vk:
    print i

1
str1
1.2
(1, 2, 3, 4)
(1+2j)

In [130]:
k

[1, 'str1', 1.2, (1, 2, 3, 4), (1+2j)]

In [131]:
emp = {'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000,
 'weight': 72}

In [132]:
k=emp.keys()
vk = emp.viewkeys()

In [133]:
k

['name', 'weight', 'sal', 'height', 'cell', 'id']

In [134]:
vk

dict_keys(['name', 'weight', 'sal', 'height', 'cell', 'id'])

In [135]:
d

{1: 10,
 'str1': 'python',
 1.2: 'float',
 (1, 2, 3, 4): 'tuple',
 (1+2j): 'complex'}

In [136]:
emp.update({'adhar':43454367})

In [137]:
emp

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000,
 'weight': 72}

In [138]:
k

['name', 'weight', 'sal', 'height', 'cell', 'id']

In [139]:
vk

dict_keys(['name', 'weight', 'sal', 'height', 'cell', 'adhar', 'id'])

In [140]:
d

{1: 10,
 'str1': 'python',
 1.2: 'float',
 (1, 2, 3, 4): 'tuple',
 (1+2j): 'complex'}

In [142]:
emp['adhar']

43454367

In [143]:
d=emp

In [144]:
d

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000,
 'weight': 72}

In [145]:
d['pancard']

KeyError: 'pancard'

In [146]:
d.get('pancard')

In [147]:
d.get('pancard','default value')

'default value'

In [148]:
'adhar' in d

True

In [149]:
'adhar' in d.keys()

True

In [150]:
d.has_key('adhar')

True

In [151]:
d

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000,
 'weight': 72}

In [152]:
1 in d

False

In [153]:
1 in d.values()

True

In [154]:
l=[1,2,3,4]
l1=l
l2=l

In [155]:
l.append(10)

In [156]:
l2

[1, 2, 3, 4, 10]

In [157]:
l=[1,2,3,4]
l1=l
l2=[]+l

In [158]:
id(l)

65945672L

In [159]:
id(l2)

66023048L

In [160]:
id(l1)

65945672L

In [161]:
l=[1,2,3,4]
l1=l
l2=l[:]

In [162]:
l2

[1, 2, 3, 4]

In [163]:
l

[1, 2, 3, 4]

In [164]:
id(l)

36926984L

In [165]:
id(l2)

65167112L

In [166]:
d

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000,
 'weight': 72}

In [167]:
d1=d

In [168]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [169]:
d

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000,
 'weight': 72}

In [170]:
d.pop('weight')

72

In [171]:
d

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000}

In [172]:
d1

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000}

In [173]:
d

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000}

In [174]:
d2 = d.update({})

In [175]:
d3={1:1}

In [176]:
d4 = d3.update({2:4})

In [177]:
d3

{1: 1, 2: 4}

In [178]:
d4

In [179]:
d

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000}

In [180]:
d1=d
d2=d.copy()

In [181]:
d1

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000}

In [182]:
d2

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000}

In [183]:
id(d1)

66264328L

In [184]:
id(d)

66264328L

In [185]:
id(d2)

36855320L

In [186]:
d

{'adhar': 43454367,
 'cell': 9676622023L,
 'height': 5.6,
 'id': 1,
 'name': 'modified_name',
 'sal': 1000}

In [187]:
d.popitem()

('name', 'modified_name')

In [188]:
l=['a','A','b','B','d','D','c','C']

In [189]:
l.sort()

In [190]:
l

['A', 'B', 'C', 'D', 'a', 'b', 'c', 'd']