In [1]:
import sqlite3
con = sqlite3.connect('db1.db')

In [2]:
cur = con.cursor()

In [3]:
query = "insert into users values(1,'name1')"
cur.execute(query)

OperationalError: no such table: users

In [4]:
query = "create table users (id int, name varchar(50))"
cur.execute(query)

In [5]:
query = "insert into users values(1,'name1')"
cur.execute(query)

In [6]:
con.commit()

In [7]:
a=0
a=10

In [8]:
a

10

In [9]:
# take a list [2,'name2']
# take a dictionary: {'id':3,"name":'name3'}
# string "4;name4"
# [{'id':5,'name':'name5'},{'id':6,"name":'name6'}]

In [ ]:
#persons = [{'id':5,'name':'name5'},{'id':3,"name":'name3'}]